<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <form class="form-inline">
            <fieldset class="form-group">
                <input class="form-control" type="text" ng-model="vm.newPost.title" placeholder="Post Title">
                <button class="btn btn-primary" ng-click="vm.createPost()">Create</button>
            </fieldset>
            </form>
        </div>
    </div>
    <h1 class="display-1 text-center">Posts</h1>
    <div class="row">
        <div class="col-lg-12">
            <div class="list-group">
                <a ui-sref="postDetail({id: post._id})" ng-repeat="post in vm.posts" class="list-group-item">
                    <h4 class="list-group-item-heading">{{post.title}}</h4>
                    <p class="list-group-item-text">{{post.content || "no content"}}</p>
                    <span class="label label-default label-pill pull-xs-right right"><i class="fa fa-comment"></i> 2</span>
                </a>
            </div>
        </div>
    </div>
</div>
